<p>Harish</p>
<div [formGroup]="pediatric_strabismus_evaluation">
    <input type="text" class="form-control" formControlName="first_name">
    <input type="text" class="form-control" formControlName="Last_nam">
    <input type="text" class="form-control" formControlName="City">
    <input type="text" class="form-control" formControlName="Address">
    <button (click)="Value()"></button>
                                                
</div>



<!DOCTYPE html>
<html > 
<body>

<table *ngFor="let item of this.value"  >
  <tr>
    <th>Id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Address</th>
    <th>City</th>
  </tr>
  <tr>
    <td>{{item.personID}}</td>
    <td>{{item.firstName}}</td>
    <td>{{item.lastName}}</td>
    <td>{{item.address}}</td>
    <td>{{item.city}}</td>
  </tr>
 
</table>

</body>
</html>

